.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1em;
    align-items: stretch;
}
.box1{
    /*align-self: start;*/
    grid-column: 1/3;
    grid-row: 1/3;
}
.box2{
    /*align-self: end;*/
    grid-column: 3;
    grid-row: 1/3;
}
.box3{
    /*justify-self: end;*/
    grid-column: 1/4;
    grid-row: 3;
}
.box4{
    /*align-items: end;*/
    grid-column: 1/3;
    grid-row: 4;
}
.wrapper > div{
    background: #cccccc;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background: #dddddd;
}